TARGET_URL=https://info-car.pl/
PLAYWRIGHT_BROWSER=chromium
PLAYWRIGHT_HEADLESS=false
STATE_FILE=state.json
CAPTURE_TIMEOUT_MS=120000
SESSION_FILE=session.json
DEBUG_SLOTS_FILE=debug-slots.json
EXAM_SCHEDULE_URL=https://info-car.pl/api/word/word-centers/exam-schedule
EXAM_SCHEDULE_PAYLOAD_JSON={"organizationId":"","category":""}
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
LOGIN=
PASSWORD=
SLOT_MIN_DAYS=0
SLOT_MAX_DAYS=46
//46 dni do testó
FIRST_NAME=Konrad  
LAST_NAME=
PESEL=
PKK=
EMAIL=konrad@gmail.com
PHONE=
